body {
    background: whitesmoke;
    font-family: sans-serif;
}

.container {
    width: 200px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
 
input {
    margin-bottom: 20px;
}